<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.papercut.mapper.PaperImgMapper">

    <resultMap id="paperResultMap" type="com.example.papercut.entity.PaperImgEntity">
            <id property="id" column="id"/>
            <result property="img" column="img"/>
            <result property="detailText" column="detail_text"/>
            <result property="paperKind" column="paper_kind"/>
            <result property="paperNum" column="paper_num"/>
            <result property="paperTitle" column="paper_title"/>
    </resultMap>
    <insert id="insert">
        insert into paper_img
        (img, detail_text, paper_kind, paper_num, paper_title)
        values
        (#{img}, #{detailText}, #{paperKind}, #{paperNum}, #{paperTitle})
    </insert>
    <update id="updateById">
        update paper_img
        <trim prefix="set" suffixOverrides=",">
            <if test="status != null">
                status = "失效",
            </if>
        </trim>
            where id = #{id}
    </update>
    <update id="update">
        update paper_img
        <trim prefix="set" suffixOverrides=",">
            <if test="img != null">
                img = #{img},
            </if>
            <if test="detailText != null">
                detail_text = #{detailText},
            </if>
            <if test="paperKind != null">
                paper_kind = #{paperKind},
            </if>
            <if test="paperNum != null">
                paper_num = #{paperNum},
            </if>
            <if test="paperTitle != null">
                paper_title = #{paperTitle},
            </if>
        </trim>
            where id = #{id}
    </update>
    <select id="getPaperImgSum" resultType="java.lang.Integer">
        select count(*) from paper_img where status = "正常"
    </select>
    <select id="selectAll" resultType="com.example.papercut.entity.PaperImgEntity">
        select * from paper_img where status = "正常"
    </select>
    <select id="selectByTitle" resultType="com.example.papercut.entity.PaperImgEntity">
        select * from paper_img where paper_title like concat('%',#{paperTitle},'%') and status = "正常"
    </select>
    <select id="selectById" resultType="com.example.papercut.entity.PaperImgEntity">
        select * from paper_img where id = #{id}
    </select>
    <select id="selectMaxId" resultType="java.lang.Integer">
        select max(id) from paper_img
    </select>

</mapper>
